.btn, .btn-primary {
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
}

.btn-danger {
    background-color: #f13030 !important;
    border-color: #f13030 !important;
}

.nav-link {
    color: #4CAF50 !important;
}

.active {
    color: #FFFFFF !important;
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
    margin-right: 2px;
}

.error {
    color: #f13030 !important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    background-color: gray;
}