<!DOCTYPE html>
<html lang="en">
<%- include('head'); -%>
<body class="text-center">
<%- include('header'); -%>
<div class="px-4 py-5 my-4 text-center">
    <h1 class="display-5 fw-bold">FAQ</h1>
    <a href="#shortExampleAnswer1collapse" data-mdb-toggle="collapse" aria-expanded="false"
       aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Question 1</h5>
        </div>
        <p class="mb-1">
            Short & concise version of the answer.
        </p>
        <small class="nav-link">Learn more</small>
        <!-- Collapsed content -->
        <div class="collapse mt-3" id="shortExampleAnswer1collapse">
            Detailed and comprehensive answer goes here. pariatur cliche reprehenderit, enim eiusmod
            high
            life accusamus terry richardson ad
            squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident.
        </div>
    </a>
    <a href="#shortExampleAnswer2collapse" data-mdb-toggle="collapse" aria-expanded="false"
       aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Question 2</h5>
        </div>
        <p class="mb-1">
            Short & concise version of the answer.
        </p>
        <small class="nav-link">Learn more</small>
        <!-- Collapsed content -->
        <div class="collapse mt-3" id="shortExampleAnswer2collapse">
            Detailed and comprehensive answer goes here. pariatur cliche reprehenderit, enim eiusmod
            high
            life accusamus terry richardson ad
            squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident.
        </div>
    </a>
    <a href="#shortExampleAnswer3collapse" data-mdb-toggle="collapse" aria-expanded="false"
       aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Question 3</h5>
        </div>
        <p class="mb-1">
            Short & concise version of the answer.
        </p>
        <small class="nav-link">Learn more</small>
        <!-- Collapsed content -->
        <div class="collapse mt-3" id="shortExampleAnswer3collapse">
            Detailed and comprehensive answer goes here. pariatur cliche reprehenderit, enim eiusmod
            high
            life accusamus terry richardson ad
            squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident.
        </div>
    </a>
</div>
<%- include('footer'); -%>

<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"
></script>

</body>
</html>