<!DOCTYPE html>
<html lang="en">
<%- include('head'); -%>
<body class="text-center d-flex flex-column min-vh-100">
<%- include('header', {connexion:connected}); -%>
<div class="px-4 py-5 my-4 text-center">
    <h1 class="display-5 fw-bold">FAQ</h1>
    <a href="#shortExampleAnswer1collapse" data-mdb-toggle="collapse" aria-expanded="false"
       aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Question 1</h5>
        </div>
        <p class="mb-1">
            How to become an app partner?
        </p>
        <small class="nav-link">Learn more</small>
        <!-- Collapsed content -->
        <div class="collapse mt-3" id="shortExampleAnswer1collapse">
            If you are a hospital or medical center that has all the necessary equipment for taking or donating blood,
            please contact us at:
            <br>conctact.bloodonary@gmail.com
        </div>
    </a>
    <a href="#shortExampleAnswer2collapse" data-mdb-toggle="collapse" aria-expanded="false"
       aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Question 2</h5>
        </div>
        <p class="mb-1">
            Are blood donations remunerated?
        </p>
        <small class="nav-link">Learn more</small>
        <!-- Collapsed content -->
        <div class="collapse mt-3" id="shortExampleAnswer2collapse">
            No for the moment blood donation is on a voluntary basis.
        </div>
    </a>
    <a href="#shortExampleAnswer3collapse" data-mdb-toggle="collapse" aria-expanded="false"
       aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Question 3</h5>
        </div>
        <p class="mb-1">
            How much blood are we collected during a donation?
        </p>
        <small class="nav-link">Learn more</small>
        <!-- Collapsed content -->
        <div class="collapse mt-3" id="shortExampleAnswer3collapse">
            The quantity of blood taken will be between 420 and 480 ml, this will vary according to your weight.
        </div>
    </a>
</div>
<%- include('footer'); -%>

<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.11.0/mdb.min.js"
></script>

</body>
</html>