<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img class="fs-4" src="/public/images/logo.png" alt="" width="62" height="47">
        <span class="fs-4">Bloonory</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/home" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/comments" class="nav-link">Comments</a></li>
        <li class="nav-item"><a href="/partners" class="nav-link">Partners</a></li>
        <li class="nav-item"><a href="/faq" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="/about_us" class="nav-link">About</a></li>
        <% if (connexion === true) { %>
            <li class="nav-item"><a href="/my_account" class="nav-link active" aria-current="page">My account</a></li>
        <% } else { %>
            <li class="nav-item"><a href="/login" class="nav-link active" aria-current="page">Connexion</a></li>
        <% } %>
    </ul>
</header>