<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img class="fs-4" src="/public/images/logo.png" alt="" width="62" height="47">
        <span class="fs-4">Bloonory</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="/administration" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/create_partner" class="nav-link">Create partner</a></li>
        <li class="nav-item"><a href="/delete_partner" class="nav-link">Delete partner</a></li>
        <li class="nav-item"><a href="/appointment_admin" class="nav-link">Appointment</a></li>
        <li class="nav-item"><a href="/log_out" class="nav-link active" aria-current="page">Log Out</a></li>
    </ul>
</header>