<!DOCTYPE html>
<html lang="en">
<%- include('head'); -%>
<body class="d-flex flex-column min-vh-100">
<%- include('header', {connexion:connected}); -%>
<div class="px-4 py-5 my-5 text-center">
    <form method="post">
    <h1 class="display-5 fw-bold">Life is short.</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button name="donator" class="btn btn-primary" type="submit" >Looking for a donor</button>
            <button name="beneficiary" class="btn btn-primary" type="submit" >Become a blood donor</button>
        </div>
    </div>
    </form>
</div>
<%- include('footer'); -%>
</body>
</html>