<!DOCTYPE html>
<html lang="en">
<%- include('head'); -%>
<body class="text-center">
<%- include('header'); -%>
<div class="px-4 py-5 my-5 text-center">
<main class="form-signin">
    <form method="post">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
            <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <a href="/home" class="nav-link">Forgot your password?</a>
        <a href="/create_account" class="nav-link">Create an account</a>
    </form>
</main>
</div>
<%- include('footer'); -%>
</body>
</html>